{
  "presets": [
    "react", 
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 8"],
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ],
    "stage-0",
    "es2015"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "fast-async",
    "transform-decorators-legacy",
    "transform-class-properties",
    "add-module-exports"
  ],
  "env": {
    "development": {
      "plugins": []
    }
  }
}