{
  "presets": ["es2015", "stage-0", "react"],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "add-module-exports",
    // React ---
    "transform-react-jsx"
  ]
}