/* Basic styles */

/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html.text-large {
  font-size: 75%;
}
html.text-small {
  font-size: 50%;
}
body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Material Design Typography */
.display-4 {
  font-size: 112px;
  font-size: 11.2rem;
  line-height: 128px;
  line-height: 12.8rem;
  letter-spacing: -0.1px;
  letter-spacing: -0.01rem;
  font-weight: 100;
  color: #757575;
  text-transform: inherit;
}
.display-3 {
  font-size: 56px;
  font-size: 5.6rem;
  line-height: 84px;
  line-height: 8.4rem;
  letter-spacing: -0.05px;
  letter-spacing: -0.005rem;
  font-weight: 300;
  color: #757575;
  text-transform: inherit;
}
.display-2 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 48px;
  line-height: 4.8rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  font-weight: 300;
  color: #757575;
  text-transform: inherit;
}
.display-1 {
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 40px;
  line-height: 4rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  font-weight: 300;
  color: #757575;
  text-transform: inherit;
}
.headline {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 32px;
  line-height: 3.2rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
}
.title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  letter-spacing: 0.05px;
  letter-spacing: 0.005rem;
  font-weight: 400;
  color: #212121;
  text-transform: inherit;
}
.subhead-2 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-transform: inherit;
}
.subhead-1 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 2.4rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
}
.body-2 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 24px;
  line-height: 2.4rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-transform: inherit;
}
.body-1 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
}
.caption {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: 0.2px;
  letter-spacing: 0.02rem;
  font-weight: 300;
  color: #757575;
  text-transform: inherit;
}
.label {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
}
.menu {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-transform: inherit;
}
.button {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-transform: uppercase;
}
@media only screen and (max-width: 960px) {
  .subhead-2 {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .subhead-1 {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .body-2 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .body-1 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .menu {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
.display-4,
.display-3,
.display-2,
.display-1 {
  margin: 0 0 14px 0;
  margin-bottom: 1.4rem;
}
.headline,
.title,
.subhead-2,
.subhead-1,
.body-2,
.body-1,
.caption,
.label,
.menu,
.button {
  margin: 0 0 10px 0;
  margin-bottom: 1rem;
}
